<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="carrousel">
      <input type="radio" name="slider" id="item-1" checked />
      <input type="radio" name="slider" id="item-2" />
      <input type="radio" name="slider" id="item-3" />

      <div class="carrousel-items">
        <label class="carrousel-item" for="item-1" id="card-1"></label>
        <label class="carrousel-item" for="item-2" id="card-2"></label>
        <label class="carrousel-item" for="item-3" id="card-3"></label>
      </div>
    </div>
  </body>
</html>
